#widget_side {
    color: rgb(35, 39, 46);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(222,202,130);
}

#label_name {
    color: rgb(35, 39, 46);
}

#label_side_version {
    color: rgb(35, 39, 46);
}