QMenu {
color: rgb(0, 0, 0);
background-color:rgb(253,253,254);
padding: 3px 3px 3px 3px;
border-radius:6px;
border:1px solid rgba(21, 23, 27, 100);
}


QMenu::item {
    font-size: 10pt;
    font: 10pt "OPPOSans B";
    border-radius:3px;
	background-color:rgba(253,253,254,0);
    padding: 5px 30px 5px 10px;
}
QMenu::item:selected {
    
	color: rgb(244, 244, 244);
	background-color: rgba(35, 39, 46, 250);
}